# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\comp2017\assignment2_submit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
